<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>
<%= form_for(:password_reset, url: password_resets_path) do |f| %>
  <div class="form-group">
    <%= f.label :email do %>
      <i class="fa fa-envelope-o fa-fw"></i>
    <% end %>
    <%= f.email_field :email, :required => true, :placeholder => 'Email' %>
  </div>
    <%= f.submit "Submit", class: "btn-submit" %>
<% end %>
