<div id="login-overlay">
  <div class="social-container">
    <div class="facebook-container">
      <p>Sign in with Facebook</p>
      <div class="overlay"></div>
    </div>
    <div class="google-container">
      <p>Sign in with Google</p>
      <div class="overlay"></div>
    </div>
  </div>
  <div class="general-container">
    <div class="signup-container">
      <p>Sign up</p>
      <div class="overlay"></div>
    </div>
    <div class="signin-container">
      <p>Sign in</p>
      <div class="overlay"></div>
    </div>
  </div>
<!--   <i class="fa fa-close fa-3x"></i> -->
</div>
