// FONTS
// @font-face {
//   font-family: 'Slim Joe';
//   src: url('Slim-Joe.otf', font) format("truetype");
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'BIG JOHN';
//   src: url('BIG-JOHN.otf', font) format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

// GLOBAL
* {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans-serif;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%; 
  min-height: 100vh;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

a {
  color: #00A388;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
h1 {
  font-family: 'Megrim', sans-serif;
  font-size: 3em;
  margin: 0.5em 0;
}

h2 {
  font-family: 'Megrim', sans-serif;
  font-size: 1.5em;
  margin-bottom: 0.8em;
  text-align: center;
}

p {
  padding: 0.5em;
}

// HOMEPAGE
.hero {
  position: fixed;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

// SIGN IN/SIGN UP OVERLAY & OPTIONS
.login-overlay {
  position: absolute;
  width: 100%;
  height: 100vh; 
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  color: #FFF;
  display: none;
  z-index: 1;
}

.google-container,
.facebook-container,
.signup-container,
.signin-container {
  position: relative;
  float: left;
  min-width: 50%;
  min-height: 50vh;
  margin: 0;
  color: #fff;
  transform: scale(1);
}

.social-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  min-height: 50%;
}

.general-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 75%;
  min-height: 50%;
}

.google-container {
  background-color: #DD4B39;
}

.google-container:hover {
  background-color: #E15F4F;
}

.facebook-container {
  background-color: #3A5795;
}

.facebook-container:hover {
  background-color: #3C5A77;
}

.signin-container {
  background-color: #212121;
}

.signup-container {
  background-color: #FFF;
}

.facebook-container .social-signin,
.google-container .social-signin {
  text-align: center;
  padding: 25% 0;
}

.signin-form {
  text-align: left;
}
.signup-form {
  color: #000;
  text-align: center;
}

.btn-signup-form,
.btn-signin-form {
  margin-top: 0.5em;
  padding: 0.8em;
  width: 16.5em;
  border-radius: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-signin-form {
  background-color: #212121;
  border: 1px solid #fff;
}

.btn-signup-form {
  background-color: #fff;
  border: 1px solid #212121;
}

// SIGNED IN NAVIGATION
.main-nav {
  position: absolute;
  width: 20%;
  height: auto; 
  top: 0;
  right: 0;
  color: #FFF;
  background-color: #212121;
  display: none;
  z-index: 1;
}

.main-nav .fa {
  padding-left: 0.5em;
}

.main-nav a,
.login-overlay a {
  color: #FFF;
}

.main-nav a:hover,
.login-overlay a:hover {
  text-decoration: none;
}

// DISPLAY OPTIONS
.show {
  display: inline-block;
}

.hide {
  visibility: hidden;
}

.form-group {
  display: table;
  margin: 0 auto;
  padding: 0.4em 0;
}
.form-group-left {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.2em;
}
.form-group-right {
  display: inline-block;
  padding: 0 0.2em;
}

form {
  font-size: 0.9em;
}

label {
  display: table-cell;
  width: 3.5em;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 0.2em 0 0 0.2em;
  // padding-left: 0.8em;
  // text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  line-height: 2.5em;
  padding-left: 1em;
  width: 13em;
  display: table-cell;
  color: #212121;
  border: 1px solid #fff;
  border-radius: 0 0.2em 0.2em 0;
  text-transform: uppercase;
}
.signup-form input {
  color: #212121;
  border: 1px solid #212121;
}
.signup-form label {
  border: 1px solid #212121;
  border-right: none;
}
.fa {
  display: inline-block;
}

.btn-google-text,
.btn-fb-text {
  display: inline-block;
  padding: 0 0.2em;
}

.fa-close,
.fa-bars {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  z-index: 100;
  color: #212121;
  cursor: pointer;
}
.nav-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 10%;
  min-height: 7%;
  background-color: #000;
  opacity: 0.8;
  // z-index: 1;
}
.nav-bar > div {
  display: inline-block;
  width: 24%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 1em;
  color: #fff;
}

.fa-heart,
.fa-heart-o {
  color: #FF4242;
}

.main-nav .fa-close {
  color: #fff;
}

.nav-option {
  line-height: 1em;
  padding: 1.5em 0.5em 1.5em 3em;
  border-bottom: 2px solid #333;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
}
.welcome {
  margin-top: 3.5em;
}

.historia-logo {
  position: absolute;
  padding: 0em 1.5em;
  z-index: 1;
}

.main-image {
  display: inline-block;
  width: 54%;
  min-width: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.main-image img {
  width: 100%;
  height: auto !important;
  display: block;
}
.map {
  display: inline-block;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  // border: 2px solid #000;
}
.wiki-container {
  padding: 4em 1.5em;
}
.wiki-container h2 {
  font-size: 2em;
}
.wiki-container p {
  font-family: arial;
  text-transform: normal;
  text-align: left;
}
.wiki-container a {
  font-family: arial;
  text-transform: normal;
  text-align: left;
}
.wiki-heading {
  text-align: left;
  padding-top: 1.5em;
}
.results-index {
  width: 50%;
  min-width: 40%;
  padding: 4.5em 3em;
}
.results-index h2 {
  text-align: left;
}
.results-index h3 {
  margin: 1.5em 0 0.5em 0;
  border-bottom: 1px solid #212121;
}
.user-list li,
.controls li {
  list-style-type: none;
}
.controls li {
  display: inline-block;
}
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}
.collapse {
  display: none;
}

.fa:hover {
  cursor: pointer;
  color: #00A388;
}
.wiki-introduction span,
.wiki-introduction p span,
.wiki-history span,
.wiki-history p span,
sup {
  display: none;
}
.wiki-introduction {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.wiki-introduction p,
.wiki-history p {
  padding-left: 0;
}
.wiki-introduction p:empty,
.wiki-history p:empty {
  display: none;
}

.error {
  text-align: center;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #212121;
  padding: 2em;
  vertical-align: middle;
  color: #fff;
  position: relative;
  bottom: 0;
  clear: both;
}

footer i {
  padding: 0 0.2em;
}
footer a {
  color: #FFF;
}
iframe {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  border: none;
}
.form-container {
  padding: 5em 0;
}
.form-container h2 {
  font-size: 2.5em;
  padding: 1em 1em 0.5em 1em;
}
.form-group {
  margin-bottom: 1em;
}
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
  width: 25em;
  display: table-cell;
  padding-left: 1em;
  line-height: 3.5em;
  text-transform: uppercase;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 0 0.2em 0.2em 0;
}

.form-container label {
  display: table-cell;
  width: 4.5em;
  text-align: center;
  border: 1px solid #212121;
  border-radius: 0.2em 0 0 0.2em;
  border-right: none;
}

label[for=user_avatar],
label[for=place_image] {
  padding: 1em;
}

label i {
  vertical-align: sub;
}

#user_avatar,
#place_image {
  border: 1px solid #212121;
  width: 25em;
  padding: 1.1em;
}

.btn-update-form {
  margin-top: 0.5em;
  padding: 0.8em;
  width: 16.5em;
  border-radius: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #00A388;
  border: 1px solid #00A388;
}
input[value="Delete Profile"] {
  background-color: transparent;
  border: none;
  color: #00A388;
  font-size: 1.1em;
}
@media only screen and (min-width: 1140px) {
  
}